{{ partial "header" . }}
{{ $baseUrl := .Site.BaseURL }}

  <section id="main">

<div class="units-row units-padding width-90 centered">

<div class="unit-25">
	<img id=avatar src="{{ $baseUrl }}/images/rohan-avatarL.JPG">
</div>

<div class="unit-40">

<P>This is the website of <a href="mailto:rohan.french@gmail.com">Rohan French</a>, an Australian philosophical logician and <a href="http://philosophy.ucdavis.edu/people/rfrench">Assistant Professor of Philosophy</a> at <a href="http://philosophy.ucdavis.edu/">UC Davis</a>. 

<p>My <a href="{{ $baseUrl }}/publications/">research</a> focuses mostly on issues in modal logic, non-classical logic, proof theory, 
	and the semantic paradoxes. I have broad philosophical interests, and am particularly interested in any issues in philosophy
	where formal methods can be fruitfully applied.</p> 
	
<p>Previous to that I did my PhD in Australia under the supervision of the inimitable 
	<a href="http://profiles.arts.monash.edu.au/lloyd-humberstone/">Lloyd Humberstone</a>. </p>
</div>


<div class="unit-35 small">

<h3>Recent &amp; Forthcoming Publications</h2>
<hr />
<ul class="fa-ul" >			
        {{ range first 5 (where .Data.Pages.ByDate "Section" "publications").Reverse }}
       	{{if (eq .Params.type "published") }}
		<li style="margin-bottom: 10px"><i class="fa-li fa fa-file-o fa-fw"></i>
			{{ if ne .Params.author "Rohan French"}}(with {{replaceRE "Rohan French and (A-Za-z )*" "$1" .Params.author}}) {{ end }}
			&ldquo;{{ .Params.title| safeHTML }}&rdquo;, 
			<em>{{ .Params.journal }}</em> 
				{{ .Params.issue }} ({{ dateFormat "2006" .Params.publishdate }}), {{ .Params.pages }}
				  
				{{ if not (eq .Params.file "") }}<a href="{{.Site.BaseURL}}publications/{{ .Params.file }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
				{{ if isset .Params "permalink" }} 
				<a href="{{ .Params.permalink }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;doi</a>
				{{if eq .Params.openaccess "true"}}<span class="badge badge-small">open access</span>{{end}}
				{{ end }}
        </li>
		{{ end }}
		
		{{if (eq .Params.type "forthcoming") }}
		<li style="margin-bottom: 10px"><i class="fa-li fa fa-file-o fa-fw"></i>
			{{ if ne .Params.author "Rohan French"}}(with {{replaceRE "Rohan French and (A-Za-z )*" "$1" .Params.author}}) {{ end }}
			&ldquo;{{ .Params.title| safeHTML }}&rdquo;, 
			forthcoming in <em>{{ .Params.journal }}</em>.
			{{ if not (eq .Params.file "") }}<a href="{{.Site.BaseURL}}publications/{{ .Params.file }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
			{{ if isset .Params "permalink" }} 
				<a href="{{ .Params.permalink }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;doi</a>
				{{if eq .Params.openaccess "true"}}<span class="badge badge-small">open access</span>{{end}}
			{{ end }}
		</li>
		{{ end }}
		{{ end }}
</ul>
<a href="{{ $baseUrl }}/publications" class="badge badge-white" style="float: right;"><i class="fas fa fa-angle-double-right"></i>more</a>
</div>
</div>

{{ partial "footer" . }}

